@import url('https://fonts.google.com/specimen/Zen+Dots?preview.text=123456&preview.text_type=custom');

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

